@use "../globals/variables" as *;

#footer {
  padding: 3rem 1.5rem;
  border-top: 1px solid $border;
  text-align: center;
  align-items: center;
}

.footer-brand {
  font-family: $font-heading;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.site-footer{
  border-top:1px solid black;
  text-align:center;
  background-color: $primary-light;
}

.footer-copy {
  font-weight:bold;
  align-items: flex-end;
  color:black;
  padding-top:10px;
  font-size: 0.9rem;
}

.social-media{
  max-width:50px;
  &:hover{
    transform: translateY(-2px);
    box-shadow: rgb(255, 10, 206) 0px 54px 55px;
  }
}